# DATABASE
DATABASE_URL="postgresql://postgres:admin123@localhost:5432/transporte_db?schema=public"

# JWT
JWT_SECRET=tu_secreto_super_seguro_cambialo_en_produccion
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=tu_refresh_token_secreto_super_seguro
JWT_REFRESH_EXPIRATION=7d

# EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=brayanvillegas0719@gmail.com
EMAIL_PASSWORD=rshvicgatmjmomuu
EMAIL_FROM=noreply@miapp.com

# APP
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200

# TOKEN EXPIRATION (en horas)
VERIFICATION_TOKEN_EXPIRATION=24
PASSWORD_RESET_TOKEN_EXPIRATION=2
REACTIVATION_TOKEN_EXPIRATION=48
